<html data-namespace-typo3-fluid="true" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module"/>

<f:section name="Content">
    <h1 class="mb-2">
        <core:icon identifier="actions-file-image" size="medium"/>
        <f:translate extensionName="ai3" key="tx_ai3.module.filemetadata.header"/>
    </h1>
    <ai3-credits></ai3-credits>
    <div data-content="files">
        <f:translate extensionName="ai3" key="tx_ai3.module.filemetadata.loading"/>
    </div>
</f:section>

</html>
